body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #003f5c !important;
}

.text-center {
  display: flex;
  padding-top: 50px;
}

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top: 115px;
  margin: auto;
}

.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  padding-top: 30px;
  margin: auto;
}

.form-login .form-control,
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-login .form-control:focus,
.form-signup .form-control:focus {
  z-index: 2;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

input[type="text"]:focus {
  background-color: #394464;
  color: white;
}

.postContent,
.friend {
  float: left;
  margin-top: 10px;
}

.postContent {
  clear: both;
}

.postContent a {
  color: #fb5b5a;
}

.postContent a:hover {
  color: #fb5b5a;
  text-decoration: underline;
}

.form-post a {
  padding: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.form-login a {
  color: #fb5b5a;
}

.form-login a:hover {
  color: white;
  text-decoration: none;
}

.form-post {
  width: 90%;
  padding: 15px;
  margin: auto;
}

.form-post .form-control {
  margin-top: 10px;
  border-radius: 1.25rem;
  background-color: #465881;
  height: 50px;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  margin-bottom: 0px;
  margin-right: 10px;
}

.border {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  margin-bottom: 0px;
  margin-right: 10px;
  border: 1px solid gray;
  text-align: left;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 1.25rem;
  background-color: #465881;
  color: white;
}

.btnHidden {
  visibility: hidden;
}

.headerName {
  float: left;
  color: #fb5b5a;
  font-weight: bold;
  padding-top: 10px;
}

.userPhoto {
  width: 60px;
  padding: 5px;
  border: 1px solid #fb5b5a;
  border-radius: 50%;
}

.btn-link {
  float: right;
  color: #fb5b5a !important;
}

.btn-link:hover {
  color: #fb5b5a;
  text-decoration: underline;
}

#profile-button {
  float: right;
}

#userData {
  float: none;
}

.img_button {
  float: left;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  margin-right: 10px;
}

#username_login,
#username_signup,
#password_login,
#password_signup,
#repeatedPassword,
#email,
#firstName,
#lastName,
#yearOfBirth {
  border-radius: 1.25rem;
  background-color: #465881;
  height: 50px;
  margin-bottom: 20px;
  padding: 20px;
  color: white;
}

#login,
#signup {
  border-radius: 1.25rem;
  background-color: #fb5b5a;
  font-size: large;
}

.h_name {
  padding-bottom: 20px;
  color: #fb5b5a;
  font-weight: bold;
}

.nav-item a {
  color: white;
}

.nav-item a:hover,
#btn_logout:hover,
#btn_deleteAccount:hover {
  font-size: 150%;
  color: white;
}

#btn_logout,
#btn_deleteAccount {
  background-color: #fb5b5a;
  border: none;
  padding-top: 8px;
}
